<launch>
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>
  <include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch"/>
  <include file="$(find arfuros)/launch/tracking_leg_detector.launch"/>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <node name="laser_filter" pkg="arfuros" type="laser_filter" respawn="true"/>
  <node name="path_relative" pkg="arfuros" type="path_relative" respawn="true"/>

</launch>
